body {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: #FFF;
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x:auto;
  }
  form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  }
  h1 {
    text-align: center;
    font-size: 24px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
  }
  h3 {
    text-align: center;
    font-size: 12px;
  }
  input[type="file"] {
    margin: 10px 0;
  }
  label {
    color: #CCC;
  }
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  button:hover {
    background-color: #0056b3;
  }
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #444;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #555;
  }
  
  th {
    background-color: #555;
    color: #EFEFEF;
  }
  
  tbody tr:hover {
    background-color: #555;
  }
  
  caption {
    font-size: 24px;
    padding: 10px;
    caption-side: top;
    color: #FFF;
  }